<div class="centered">
<div id="leftPane">
<h2>Enter a Feed URL:</h2>
<form id="validation" action="check.cgi" method="get">
<div>
<input name="url" id="url" type="text" size="55" maxlength="255" value="%(value)s" />&nbsp;<input type="submit" value="Validate" />
</div>
</form>
</div>
<div id="rightPane">
<h2>Or Enter Raw Data:</h2>
<form id="validationDirect" action="check.cgi" method="post">
<div>
<textarea name="rawdata" rows="10" cols="80"></textarea><br /><input type="submit" value="Validate" />
</div>
</form>
</div>
</div>
